<?xml version="1.0" encoding="utf-8"?>

<!--
  Další informace o konfiguraci aplikace ASP.NET najdete na webu
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->

<configuration>
  <system.web>
    <authorization>

      <deny users="?" />
      <!-- ty co nejsou v seznamu-->
      <allow users="Tomas"/>
      <deny users="*" />
      <!-- pro všechny mimo allow-->

    </authorization>
  </system.web>
</configuration>
