body {
}

.auto-style3 {
    width: 100%;
}

.auto-style4 {
    width: 128px;
}

.auto-style5 {
    width: 128px;
}

.JakoMenu {
    font-style: inherit;
    font-variant: normal;
    color: black;
    font-weight: bold;
    font-size: medium;
    background-color: #B5C7DE;
}